.index-features__title {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
}

.index-features__item-list {
  .list-reset;
  margin-bottom: 46px;
}

.index-features__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: @arial;
  color: #444444;
  padding-right: 0;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &:first-child::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
  }

  &:nth-child(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }
  }

  &:nth-child(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }
  }

  &:nth-child(4)::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px 50px;
    }
  }
}

.index-features__item br {
  display: none;
}

@media (min-width: @tablet-width) {
  .index-features__title {
    margin: 0;
    margin-top: 41px;
    margin-bottom: 74px;
    .big-font;
  }

  .index-features__item-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 53px;
  }

  .index-features__item {
    box-sizing: border-box;
    width: 324px;
    height: 233px;
    margin: 0;
    padding-top: 110px;
    padding-right: 70px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;

    &:first-child {
      margin-bottom: 83px;
    }

    &:nth-child(odd) {
      margin-right: 60px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &:first-child::after {
      counter-increment: features;
      content: "" counter(features) " ";
      position: absolute;
      top: -42px;
      right: 95px;
      .features-number();
    }

    &:nth-child(2)::after {
      counter-increment: features;
      content: "" counter(features) " ";
      position: absolute;
      top: -40px;
      right: 80px;
      .features-number();
    }

    &:nth-child(3)::after {
      counter-increment: features;
      content: "" counter(features) " ";
      position: absolute;
      top: -40px;
      right: 80px;
      .features-number();
    }

    &:nth-child(4)::after {
      counter-increment: features;
      content: "" counter(features) " ";
      position: absolute;
      top: -40px;
      right: 75px;
      .features-number();
    }
  }

  .index-features__item br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .index-features__title {
    margin-top: 42px;
  }

  .index-features__item-list {
    margin-bottom: 33px;
  }

  .index-features__item {
    width: 245px;
    margin-right: 80px;
    padding-top: 110px;
    padding-right: 0;

    &::before {
      position: absolute;
      top: -2px;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: #68b738;
    }

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:first-child {
      margin-bottom: 0;
    }

    &:nth-child(4) {
      margin-right: 0;
    }

    &:first-child::after {
      top: -42px;
      right: 15px;
    }

    &:nth-child(2)::after {
      top: -41px;
      right: 0;
    }

    &:nth-child(3)::after {
      top: -41px;
      right: -2px;
    }

    &:nth-child(4)::after {
      top: -41px;
      right: -4px;
    }
  }
}
