.inner-main {
  overflow-x: hidden;
}

.inner-main__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .inner-main__title {
    margin-top: 50px;
    .big-font;
  }
}

@media (min-width: @desktop-width) {
  .inner-main__title {
    margin-bottom: 21px;
  }
}
