.main-footer {
  padding: 0 20px;

  background-color: #ffffff;
}

.main-footer__logo {
  margin: 39px 96px 31px;
}

.main-footer__socials {
  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__copyright {
  margin: 20px 0;
}

.main-footer__copyright-link {
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
}

.main-footer__copyright-link-img {
  fill: #666666;
}
