.main-content {
  margin-bottom: 22px;
  color: @white;
}

.main-content__inner {
  box-sizing: border-box;
  height: 305px;
  padding: 28px 0;
  background-color: @green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-content__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.main-content__slogan {
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.main-content__image {
  height: 271px;
  margin-top: -137px;
}

.main-content__button {
  display: inline-block;
  padding: 11px 73px;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  font-size: 14px;
  line-height: 18px;
  border: none;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

@media (min-width: @tablet-width) {
  .main-content {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 0;
    color: @black;
  }

  .main-content__inner {
    width: 427px;
    height: 245px;
    margin-left: 117px;
    background-color: @white;
    background-image: none;
  }

  .main-content__title {
    margin: 0;
    margin-top: 22px;
    margin-bottom: 41px;
    text-align: left;
    .big-font();
  }

  .main-content__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .main-content__image {
    width: 709px;
    height: 609px;
    margin-top: 5px;
  }

  .main-content__button {
    position: absolute;
    top: 279px;
    left: 119px;
    padding: 16px 27px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-content {
    width: 1300px;
    height: 570px;
    margin: 0 auto;
  }

  .main-content__inner {
    margin-top: 33px;
    margin-left: 120px;

    background-color: transparent;
  }

  .main-content__button {
    top: 282px;
    left: 120px;
    padding: 16px 27px;
  }

  .main-content__image {
    position: absolute;
    top: -37px;
    left: 490px;
    width: 552px;
    height: 499px;
  }
}
