.main-menu {
  min-height: 200px;
  background-color: @white;
}

.main-menu__list-item {
  .list-reset;
}

.main-menu__item {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.main-menu__link {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-menu {
    display: block;
    min-height: 60px;
  }

  .main-menu__list-item {
    display: flex;
  }

  .main-menu__item {
    margin: 0 20px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-menu {
    min-width: 480px;
    min-height: 60px;
    margin: 6px 20px;
    background-color: @green;
  }

  .main-menu__link {
    color: @white;
  }
}
