.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 65px;
  border-bottom: 1px solid #e6e6e6;
}

.main-header__logo-image {
  width: 191px;
  height: 39px;
  margin-top: 11px;
  margin-bottom: 15px;
}

.main-header__logo-link {
  padding: 0;
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    border: none;

  }

  .main-header__logo-image {
    margin-top: 30px;
    margin-left: 15px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    margin-top: 50px;
  }

  .main-header__logo-image {
    width: 202px;
    height: 59px;
    margin-top: 0;
  }
}
