.main-menu {
  background-color: @white;
}

.main-menu__dropdown {
  position: absolute;
  top: 0;
  right: 10px;
  width: 24px;
  height: 18px;
  margin: 23px 0;
  background-color: @white;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  border: none;
}

.main-menu__list-item {
  display: none;
  min-width: 280px;
  min-height: 200px;
  padding: 0 20px;
  .list-reset;
}

.main-menu__item {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.main-menu__link {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-menu {
    display: block;
    min-height: 60px;
  }

  .main-menu__dropdown {
    display: none;
  }

  .main-menu__list-item {
    display: flex;
  }

  .main-menu__item {
    margin: 0 20px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-menu {
    min-width: 480px;
    min-height: 60px;
    margin: 6px 20px;
    background-color: @green;
  }

  .main-menu__link {
    color: @white;
  }
}
