@borderGray: 1px solid #ededed;
@arial: "Arial", "Helvetica", sans-serif;
@oswaldR: "Oswald-Regular", sans-serif;
@oswaldM: "Oswald-Medium", sans-serif;
@white:#ffffff;
@green: #64a83b;
@black:#111111;
@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-only:767px;
@black-tablet:#222222;
